@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

    body {
      margin:0px;
      background:black ;
      font-family:inter;
    }

.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
  z-index: 1000;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0 40px;
  margin: 0;
  justify-content: space-between;
  max-width: 100%;
}

.navbar ul li a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 10px 0;
  display: block;
  text-align: center;
}

.navbar ul li a:hover {
  color: lightyellow;
  text-decoration: underline;
}



#titulo {
  position: relative;
  background-image: url('imagenes/gift1.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:760px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#titulo h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 300px 450px;
  border:solid 1px white;
}

.autor {
  position: relative;
  background-image: url('imagenes/daniel.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
}

.autor h2 {
  color: white;
  display: inline-block;
  margin-block-end: 0px;
  margin-block-start: 80px;
  font-size: 3rem;
  padding:0px 40px;
}

.autor p {
  max-width: 430px;
  padding: 0px 40px; 
  font-size: 15px;
  color:white;
}

 .caja {
  position: absolute;
  top:230px;
  left:555px;
  width: 180px;
  height: 180px;
  padding: 20px;
  border: 1px solid white;
}

.caja::before,
.caja::after,
.caja span::before,
.caja span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

/* esquina superior izquierda */
.caja::before {
  top: -5px;
  left: -5px;
}

/* esquina superior derecha */
.caja::after {
  top: -5px;
  right: -5px;
}

/* esquina inferior izquierda */
.caja span::before {
  bottom: -5px;
  left: -5px;
}


.caja span::after {
  bottom: -5px;
  right: -5px;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 605px;
}

.about-content {
  max-width: 900px;
  text-align: left;
}

.about-content h2 {
  font-size: 3rem;
  color: white;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 15px;
  color: white;
  margin-bottom: 15px;
}


.penguin-grid {
    display: grid;
    width: 100%; 
    grid-template-columns: repeat(11, 60px);     /* grid-template-columns: repeat(auto-fit, 60px); Simplifica: crea tantas columnas de 60px como quepan en el ancho total */
    grid-auto-rows: 75px; /* Altura de la fila */
    justify-content: center; /* Centra la cuadrícula */
    gap: 40px 20px; /* Espacio entre pingüinos */
    perspective: 1000px;
    background-color: transparent; /* Fondo pinguinos*/
}

.penguin {
    width: 60px;
    height: 75px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2.8s ease; /* Transiciónn rotacion pinguinos*/
    transform: rotateY(0deg);
}


.penguin > div {               /* base pinguino (el cuerpo que gira) */
    position: absolute;
    width: 100%;
    height: 100%;                                      /* Forma básica del pingüino */
    border-radius: 50% 50% 40% 40% / 60% 60% 40% 40%;
    backface-visibility: hidden;
}

/* 1. frente: Cara, Panza, Ojos y Pico */
.penguin .penguin-front {                                           
    background: linear-gradient(to bottom, #373739 0% 30%, white 30% 100%);    /* Fondo: Cabeza negra (0% a 30%), Panza blanca (30% a 100%) */ 
}

/* 2. reverso: Espalda completamente negra */
.penguin .penguin-back {
    background-color: #373739;
    transform: rotateY(180deg);
}

/* --------------------------------------------------------------------------------------------------- /*carita pinguino*/
.penguin .penguin-front::before {     /* Ojos Blancos*/
    content: "";
    position: absolute;
    width: 40%;
    height: 15%;
    top: 15%; 
    left: 30%;
    background: radial-gradient(circle at 15% 50%, white 10%, transparent 10%),         /* Dibuja dos círculos blancos */
                radial-gradient(circle at 85% 50%, white 10%, transparent 10%);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0;
}

.penguin .penguin-front::after {    /* Piquito*/
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #F4B315; /* Usamos el color amarillo de tu tema */
    top: 30%; 
    left: 50%;
    transform: translateX(-50%);
}

/* -------------------------------------------------------------------------Movimieto mouse usando el hover*/
.penguin:hover {
    transform: rotateY(180deg);
    transition-duration: 0.2s;
    transition-delay: 0s; /* Sin retraso */

/*-----------------------------------------------------------------------------*/
}
.representacion {
  color: white;
  font-size: 25;
}

#contenedor-cajas {
  display: flex;
  margin-top: 150px;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
}

.fila {
  display: flex;
  gap: 20px;
}

.fila.superior {
  justify-content: flex-start;
  margin-top: 40px;
}

.fila.inferior {
  justify-content: flex-end;
  margin-bottom: 20px;
}

.caja-info {
  max-width: 260px;
  text-align: left;
  color: white;
  display: flex;
  flex-direction: column;
}

.caja-info h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.caja-info p {
  font-size: 15px;
  margin-bottom: 10px;
}

.principios {
  position: absolute;
  bottom: 20px;
  left: 0;
}

.principios h2 {
  font-size: 3rem;
  color: white;
  text-align: left;
  max-width: 400px;
}


#funcionamiento {
  position: relative;
  background-image: url('imagenes/gift2.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#funcionamiento h2 {
  color: white;
  font-size: 3rem;
  position: absolute;
  top:140px;
  left:480px;
}

#funcionamiento .diagrama {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 1200px;
  height: auto;
  z-index: 2;
}
/*----------------------------------------------------------------------------*/
.main-footer {
    background-image: url("imagenes/gift1.gif");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
    height: 160px;
    box-sizing: border-box;
}

.footer-content {
    max-width: 100vh;
    margin: 0 auto;
}

.main-footer p {
    font-size: 10px;
    margin: 20px 0px 0px 0px;
}

.main-footer ul {
    list-style: none; 
    padding: 0;
    margin: 15px 0px 15px 0px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 

.main-footer ul li {
    font-size: 15px;
}